In [ ]:
data types

In [1]:
# numeric --> int, float, complex

x= 10

In [2]:
type(x)

int

In [3]:
id(x)

140716041320512

In [4]:
#float:

y=10.2

In [5]:
type(y)

float

In [6]:
#complex

z=2+3j

In [7]:
type(z)

complex

In [ ]:
# strings --> text data tpes

we can define strings in 3 ways--> ''
""
""""""

In [8]:
a ='python'

In [9]:
type(a)

str

In [12]:
print(b)

python

In [11]:
b="python"

In [13]:
c="""python"""

In [14]:
print(c)

python

In [15]:
# enhancement of strings:

len(c)

6

In [16]:
k="i am chandana"

In [17]:
len(k)

13

In [18]:
k.title()

'I Am Chandana'

In [19]:
k.upper()

'I AM CHANDANA'

In [20]:
print(k)

i am chandana

In [21]:
k.lower()

'i am chandana'

In [22]:
g="JMNIFDJFID"

In [23]:
print(g)

JMNIFDJFID

In [24]:
print(g.lower())

jmnifdjfid

In [25]:
print(g.title())

Jmnifdjfid

In [26]:
#contatenation

x='chandana'
y='dara'

In [27]:
print(x+y)

chandanadara

In [29]:
#repetation:
print(x*10)

chandanachandanachandanachandanachandanachandanachandanachandanachandanachandana

In [30]:
x="this is a python class with strings topic"

In [31]:
x.split()

['this', 'is', 'a', 'python', 'class', 'with', 'strings', 'topic']

In [2]:
x="programming buddies"

In [33]:
len(x)

19

In [35]:
x[0:7]

'program'

In [36]:
x[3:7]

'gram'

In [4]:
x[-7:-4]

'bud'

In [5]:
x[12]

'b'

In [6]:
x[3]

'g'

In [7]:
x[-18]

'r'

In [8]:
#replacing the string:


x="this is python programming class"

In [9]:
x.replace('programming','scripting')

'this is python scripting class'

In [14]:
# joining of string:

a=('chandana','lasya','ram','vijjie')

In [19]:
b='-->'.join(a)

In [20]:
print(b)

chandana-->lasya-->ram-->vijjie

In [27]:
x='python'

In [28]:
x[::-1]*** interview question

'nohtyp'

In [21]:
#range:

for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
rnage(starting, ending, increment)

In [23]:
for i in range(5,11):
    print(i)

5
6
7
8
9
10

In [24]:
for i in range(20,51,2):  # even numbers
    print(i)

20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

In [26]:
for i in range(21,50,2):  # odd numbers
    print(i)

21
23
25
27
29
31
33
35
37
39
41
43
45
47
49

In [30]:
# input and output statements:

x=input("enter any number:")
print("you have entered",x)

enter any number:20
you have entered 20

In [ ]:
# mutable and immutable data types:


mutable:

In [ ]:
# boolean datatype:  true and false